@charset "utf-8";

/* =============================================
	Author: ken Wabibi 
	Date: 18Jan24
   =============================================
*/
html, body {
/* Increase font size for desktop */
	font-size: 20px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;	
}
body {
    max-width: 900px;	
    background-color:rgba(191, 138, 92); 
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: LightBlue;	
    text-align: center; 
}
nav { 
    padding: 5px;
    text-align: center; 
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 0;
}
nav li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    margin: 0 15px;
    font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
footer {
/* Footer styles */
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; 
    	padding: 10px;
    	text-align: center; 
	margin-top: 350px;
}
footer a {
	font-size: 1em;
	text-align: center; 
	margin: 0 15px;
}
