@charset "utf-8";

/* =============================================
	Base layout styles used by mobile devices
	up to 480px and cascaded to larger devices 
	unless superceded by other styles.
	
	Author: ken Wabibi 
	Date: 27Jan24
   =============================================
*/

html, body {
	/* Increase font size for desktop */
		font-size: 20px;
	}

html {
/* Set background color for desktop */
    background-color:#005377;
    margin: 0 auto;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;	
}
body {
    width: 88.2%;	
    max-width: 900px;	
    background-color:#D5C67A;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    margin: 0 auto;
    padding: 50px;
    text-align: left;	
    box-sizing: border-box;
    border-top-left-radius: 20%;
	border-top-right-radius: 20%;
	border-bottom-right-radius: 10%;
	border-bottom-left-radius: 10%;
	box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px
}
h1 {
	text-align: center;
	background-color:#F95738;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;
	border-bottom-left-radius: 10%;
}
h2, h3, h4, h5, h6 {
	text-align: center;	
}
a {
	color: #F95738;
}
a:hover {
	color: #7EA0B7;
}
