@charset "utf-8";

/* =============================================
	Base layout styles used by mobile devices
	up to 480px and cascaded to larger devices 
	unless superceded by other styles.
	
	Author: ken Wabibi 
	Date: 18Jan24
   =============================================
*/
body {
    background-color:rgba(191, 138, 92); 
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; 
}
nav { 
    padding: 5px;
    text-align: center; 
}
html, body {
/* Increase font size for desktop */
	font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
footer {
/* Footer styles */
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; 
    	padding: 10px;
    	text-align: center; 
	margin-top: 350px;
}
footer a {
	font-size: 1em;
	text-align: center; 
	margin: 0 15px;
}
